@media (min-width: 375px) {
  .plazos li{
    width: auto;
  }
  #propiosTab{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* Media Queries */
/*Small devices (landscape phones, 424px and up)*/
@media (min-width: 424px) {

}
/*Small devices (landscape phones, 544px and up)*/
@media (min-width: 544px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .ingresos .img-ingresos h1,
  .gastos .img-gastos h1,
  .deudas .img-deudas h1{
    font-size: 4em;
  }
  .nav-tabs.pink>li>a.first {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
  }
  .nav-tabs.pink>li>a.last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
  }
  .nav-tabs.pink.disabled>li>a.first {
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
  }
  .nav-tabs.pink.disabled>li>a.last {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .ingresos .img-ingresos h1,
  .gastos .img-gastos h1,
  .deudas .img-deudas h1{
    font-size: 5em;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}

@media (min-width: 992px) {

}
